<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/static/css/error.css">
    <script src="/static/js/theme.js" defer></script>
</head>
<body>
    <h1>Error 404</h1>
    <h2>The page you're looking for doesn't exist</h2>
    <br>
    <br>
    <br>
    <br>
    <button onclick="window.location.href='/'">Back to Safety</button>

</body>
</html>