<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PWA: Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/theme.js" defer></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-left">
                <div class="navbar-element" id="brand-logo" onclick="window.location.href='/'">
                    ...
                </div>
            </div>
            <div class="navbar-right">
                <div class="navbar-element" onclick="window.location.href='/logout'">
                    <img src="/static/img/logout.svg">
                </div>
            </div>
        </div>
        <h1>Dashboard</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% set category, message = messages[-1] %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endwith %}
        <h3>Nothing here yet. But hey, you're logged in!</h3>
    </body>
</html>