<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NeFlow: Register</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/theme.js" defer></script>
        <script src="/static/js/register.js" defer></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-left">
                <div class="navbar-element brand-logo">
                    <p>NF</p>
                </div>
                <div class="navbar-element" onclick="window.location.href='..'">
                    <img src="/static/img/arrow-back.svg">
                </div>
            </div>
        </div>

        <h1>Register</h1>
        <h2>Enter your details below to create a new account</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% set category, message = messages[-1] %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endwith %}

        <form id="register-form">
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder=" " required>
                <label for="email">E-Mail</label>
            </div>

            <div class="input-group">
                <input type="text" id="username" name="username" placeholder=" " required>
                <label for="username">Username</label>
            </div>
            
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder=" " required>
                <label for="password">Password</label>
            </div>
            
            <div class="input-group">
                <input type="password" id="confirm-password" name="confirm-password" placeholder=" " required>
                <label for="confirm-password">Confirm Password</label>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" id="receive-newsletter">
                <label for="receive-newsletter">I would like to receive news and updates via email</label>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" id="acceptTOS" required>
                <label for="acceptTOS">I have read and accept the <a href="/tos">Terms of Service</a></label>
            </div>
            
            <br>

            <button type="submit" id="register-form-submit" disabled>Sign up</button>
        </form>

    </body>
</html>